figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

figcaption {
	margin-top: 0.4rem;
	font-size: 0.875rem;
	line-height: 1.4;
}

.figure_img {
	box-shadow: 10px 10px 10px ba;
}