/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 996px) {
}

.nav nav {
  display: none;
}

.color_mode_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}