/* src/css/custom.css */
@import url("./colors.css");
@import url("./global.css");
@import url("./navbar.css");
@import url("./footer.css");
@import url("./docs/sidebar.css");

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.w-full {
	width: 100%;
}

.gap-1rem {
	gap: 1rem;
}
