.DocSearch-Logo {
  display: none;
}

.DocSearch-Button-Placeholder {
  display: none;
}

.DocSearch-Button {
  gap: 0.8rem;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.DocSearch-Button-Key {
  background: var(--color-bg-secondary) !important;
}
