.markdown h1 {
  margin-bottom: 0.4rem !important;
}

.markdown h5 {
  font-weight: 700;
  font-size: 1.05rem; /* 18px */
  line-height: 1.4;
  margin: 0.9em 0;
}

.markdown h6 {
  font-weight: 700;
  font-size: 1rem !important; /* 16px */
  line-height: 1.4;
  margin: 0.9em 0 !important;
}

.markdown p {
  line-height: 1.7rem;
}

.markdown blockquote {
  font-weight: 700;
  font-size: 1rem; /* 18px */
  line-height: 1.4;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
