.copyright {
	font-size: 0.75rem;
	color: var(--color-text-secondary);
	width: 100%;
	text-align: center;
	height: 1.2rem;
	position: absolute;
	bottom: 0;
}

/* @media screen and (min-width: 100vh) { */
/* 	.copyright { */
/* 		position: fixed; */
/* 		bottom: 1rem; */
/* 	} */
/* } */